<html>
  <body>
    <h1 style="font-size: 1.2em">Nazar host alert</h1>
    <table style="border: 1px solid; border-collapse: collapse;">
      <tr><th style="border: 1px solid; text-align: left;">Severity</th><td style="border: 1px solid;">{{severity}}</td></tr>
      <tr><th style="border: 1px solid; text-align: left;">Source</th><td style="border: 1px solid;">{{source}}</td></tr>
      <tr><th style="border: 1px solid; text-align: left;">Host</th><td style="border: 1px solid;">{{hostname}}</td></tr>
      <tr><th style="border: 1px solid; text-align: left;">FQDN</th><td style="border: 1px solid;">{{fqdn}}</td></tr>
      <tr><th style="border: 1px solid; text-align: left;">Time</th><td style="border: 1px solid;">{{time_text}}</td></tr>
      <tr><th style="border: 1px solid; text-align: left;">Summary</th><td style="border: 1px solid;">{{summary}}</td></tr>
    </table>
    <h2 style="font-size: 1.1em">Message</h2>
    <pre>{{message}}</pre>
  </body>
</html>
